# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
env/
venv/
ENV/
bin/
lib/
include/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
pip-log.txt
pip-delete-this-directory.txt
.env

# VS Code
.vscode/
.history/

# Static files
staticfiles/

# OS-specific
.DS_Store
Thumbs.db
